# Include the license file
include LICENSE
include README.rst

# Include the data files
recursive-include enerpiweb/static/img/icons *
recursive-include enerpiweb/static/css *
recursive-include enerpiweb/static/js *

global-exclude .DS_Store
