# Include the license file
include LICENSE
include README.rst

# Include the data files
recursive-include enerpi/rsc *
recursive-include enerpiweb/static *

exclude enerpiweb/static/img/icons/enerpi_icon.sketch
