{% extends "layout.html" %}
{% from 'monitor_tiles.html' import monitor_tiles with context %}
{% from 'macros.html' import styles_bokeh with context %}

{% block content %}
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <img class="img-fluid img-rounded pull-xs-left" style="max-width: 100%; height: auto; width: 100% \9;"
                         src="{{ url_for('static', filename='img/icons/base.svg')}}">
                </div>
                <div class="col-xs-6 col-sm-8 col-md-9 col-lg-9">
                    <h1 class="display-5">EnerPi Control</h1>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-6">
                    <br class="hidden-sm hidden-xs">
                    <div class="btn-toolbar button-wrapper" role="toolbar" aria-label="Toolbar with enerPI LOG's">
                      <div class="btn-group" role="group" aria-label="FLASK LOG">
                        <a class="btn btn-secondary btn-outline-primary" href="{{ url_for('showfile', file='flask', tail=200, reverse=True)}}" role="button">Flask LOG</a>
                        <a class="btn btn-secondary btn-outline-primary" href="{{ url_for('showfile', file='rsc', tail=200, reverse=True)}}" role="button">RSC gen.</a>
                      </div>
                      <div class="btn-group" role="group" aria-label="ENERPI LOG">
                        <a class="btn btn-outline-success btn-block" href="{{ url_for('showfile', file='enerpi', tail=200, reverse=True)}}" role="button">EnerPi LOG</a>
                      </div>
                      <div class="btn-group" role="group" aria-label="UWSGI+NGINX LOGs">
                        <a class="btn btn-sm btn-secondary btn-outline-warning" href="{{ url_for('showfile', file='uwsgi', tail=200, reverse=True)}}" role="button">UWSGI LOG</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('showfile', file='nginx', tail=200, reverse=True)}}" role="button">NGINX Access</a>
                        <a class="btn btn-sm btn-outline-danger" href="{{ url_for('showfile', file='nginx_err', tail=200, reverse=True)}}" role="button">NGINX Errors</a>
                      </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-6">
                    <div class="btn-toolbar button-wrapper" role="toolbar" aria-label="Toolbar with enerPI links to plots & tables">
                      <div class="btn-group" role="group" aria-label="LINKS">
                        <a class="btn btn-secondary btn-outline-success" href="{{ url_for('bokehplot')}}" role="button">
                            <i class="fa fa-area-chart" aria-hidden="true"></i> Graph last</a>
                        <a class="btn btn-secondary btn-outline-success" href="{{ url_for('tablelast')}}" role="button">
                            <i class="fa fa-table" aria-hidden="true"></i> Table last</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
