{% macro navigation_bar() %}
    {% block styles %}
        <link href="{{ url_for('static', filename='css/navbar_custom.css') }}" rel="stylesheet">
    {% endblock %}
    <nav id="mynavbar" class="navbar navbar-dark navbar-custom bg-faded" style="background-color: #0CBB43;">
        <a class="navbar-brand active" style="margin-bottom: -2px !important; padding-bottom: 0 !important;" href="{{ url_for('index') }}">
            <strong><i class="fa fa-bolt" aria-hidden="true"></i> enerPI</strong>
        </a>
        <form class="form-inline pull-xs-right">
            <a class="navbar-brand active" style="margin-bottom: -2px !important; padding-bottom: 0 !important;" href="{{ url_for('bokehplot') }}">
                <strong><i class="fa fa-area-chart" aria-hidden="true"></i></strong></a>
            <a class="navbar-brand active" style="margin-bottom: -2px !important; padding-bottom: 0 !important;" href="{{ url_for('tablelast') }}">
                <strong><i class="fa fa-table" aria-hidden="true"></i></strong></a>
            <a class="navbar-brand active" href="#"></a>
{#          <input class="form-control" type="text" placeholder="Search">#}
{#          <button class="btn btn-outline-primary" type="submit">Search</button>#}
            <a class="nav pull-right navbar-link hidden-xs" href="{{ url_for('control') }}">
                <img id="navbar-logo" class="icon-logo" style="height: 30px;"
                     src="{{ url_for('static', filename='img/icons/rsc/Icon-Small-40@2x.png') }}">
            </a>
        </form>
    </nav>
{% endmacro%}
